# ignore configure files
.vscode
# ignore log files
build.log
# ignore build files
cmake-build-debug/
cmake-build-release/
third_party/qtbase-release
third_party/opencv-release
# ignore config.h
source/config.h